.Books {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.header {
		height: 40px;
		width: 400px;
		padding: 10px;
		font-size: 1.5em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.list {
		flex: 1;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		overflow-x: auto;
	}
}