.BookItem {
	width: 280px;
	height: 40px;
	margin: 10px;
	padding: 5px 0 5px 10px;
	display: flex;
	flex-direction: row;
	border: 1px solid #0B3954;
	font-size: 1.5em;
	align-items: center;
	cursor: pointer;

	&:hover {
		background-color: #BFD7EA;

		.conf {
			display: inline;
		}
	}

	&:active {
		background-color: #077380;
		color: white;
	}

	.text {
		flex: 1;
		margin-right: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.conf {
		display: none;
	}
}
