Input {
	min-width: 0;
	width: 100%;
	margin: 10px 0;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #BFD7EA;
	font-size: 1.2em;
	overflow: initial;

	&:focus {
		outline: none;
	}
}