.Item {
	height: 100%;
	display: flex;
	flex-direction: column;

	>.head {
		height: 40px;
		margin-left: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		>input {
			flex: 1;
			display: inline-block;
			border: none;
			border-bottom: 1px solid #BFD7EA;
			font-size: 1.2em;
			overflow: initial;
	
			&:focus {
				outline: none;
			}
		}
	}

	>.main {
		flex: 1;
	}
}
