.List {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	>.create {
		flex: 0 40px;
		border-bottom: 1px solid #087E8B;
		display: flex;
		align-items: center;
	}

	>.list {
		flex: 1;
		padding: 10px 0;
		height: 100%;
		width: 100%;
		overflow-y: auto;
	}
}