* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html, body, #root {
	width: 100%;
	height: 100%;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.App-head {
	padding: 10px;
	background-color: #0B3954;
	color: #FFFFFF;
	font-size: 2em;
	font-weight: bold;
}

.App-main {
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
}

.Item {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px dashed #087E8B;
}

.Item-missing {
	padding-top: 80px;
	font-size: 1.5em;
	text-align: center;
}

.Item-list-create {
	height: 40px;
	border-bottom: 1px solid #087E8B
}

.Item-list {
	flex: 1;
	padding-top: 10px;
	overflow-y: auto;
}

.ItemHeader {
	height: 40px;
	padding-left: 10px;
	display: grid;
	grid-template-columns: auto fit-content(100%);
}

.ItemHeader input {
	min-width: 0;
	margin: 10px 0;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #BFD7EA;
	font-size: 1.2em;
	overflow: initial;
}

.ItemHeader input:focus {
	outline: none;
}

.ListItem {
	height: 40px;
	margin-right: 10px;
	padding: 5px 10px;
	font-size: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.ListItem:hover {
	background-color: #BFD7EA;
}

.ListItem-selected {
	background: #087E8B;
	color: #FFFFFF;
}

.ListItem-selected:hover {
	background: #077380;
	color: #FFFFFF;
}

.Page {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.Page-missing {
	padding-top: 80px;
	font-size: 1.5em;
	text-align: center;
}

.Page-tool {
	height: 40px;
	padding: 10px;
	border-bottom: 1px solid #087E8B;
}

.Page-text {
	height: 100%;
	flex: 1;
	padding: 10px;
}

.Page-text textarea {
	display: inline-block;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	border: none;
	resize: none;;
}

.Page-text textarea:focus {
	outline: none;
}

.Button {
	height: 30px;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.Button:hover {
	background-color: #BFD7EA
}

.Button img {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.Button span {
	display: inline-block;
	margin: 5px;
}